<div class="flex flex-col gap-8 ml-32 mr-8 py-8 text-white max-w-[1236px]">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <h1 class="!mb-2 !text-3xl">Lesson Name</h1>
      <p class="text-xl">
        This is the lesson description so that the professor can know what this
        lesson is actually about. This is the lesson description so that the
        professor can know what this lesson is actually about. This is the
        lesson description so that the professor can know what this lesson is
        actually about.
      </p>
      <app-button (click)="fileUpload()">+ Add content</app-button>
    </div>
    <div class="md:grid md:grid-cols-3 gap-5">
      <ng-container *ngFor="let content of contents">
        <div *ngIf="content.key !== 'lessonName' && content.key !== 'lessonDescription'">
        <!-- passing down key data so that file card has reference to the detailed page of file -->
        <app-file-card
          [lessonKey]="key"
          [fileKey]="content.key"
          [fileName]="content.name"
          [fileType]="content.extension"
          fileImageUrl="https://www.mathworks.com/help/examples/vision/win64/ClusterSphericalPointCloudBasedOnEuclideanDistanceExample_01.png"
        >
        </app-file-card>
      </div>
      </ng-container>
    </div>
  </div>
</div>
