<nav class="flex flex-col justify-center space-y-4 bg-[#121212] p-1 fixed left-0 top-0 h-full">
  <a routerLink="lesson"
    class="font-medium px-3 py-2 text-white rounded-lg hover:bg-[#FFB800] hover:text-slate-900">
    <mat-icon aria-hidden="false" aria-label="library_books" fontIcon="library_books" /></a>
  <a routerLink="filedetails"
    class="font-medium px-3 py-2 text-white rounded-lg hover:bg-[#FFB800] hover:text-slate-900"><mat-icon
      aria-hidden="false" aria-label="history" fontIcon="history" /></a>
</nav>